BSALE_ACCESS_TOKEN=
BSALE_API_URL=https://api.bsale.io/v1
WALMART_CLIENT_ID=
WALMART_CLIENT_SECRET=
WALMART_PARTNER_ID=
WALMART_CHANNEL_TYPE=
WALMART_API_URL=https://marketplace.walmartapis.com
WALMART_MARKET=cl
WALMART_FEED_TIMEOUT_SECONDS=2100
WALMART_FEED_POLL_SECONDS=30
DATABASE_URL=sqlite:////data/app.db
